#
# Copyright © 2017 digi.me. All rights reserved.
#
#Contract ID provisioned by gradle to accomodate automatic bootstrapping
digimeConsentAccessContractId=<your contract here>
digimeConsentAccessP12Keystore=<path to your p12 file in assets>